<footer>
    <p>&copy; 2024 Cooking Blog. All rights reserved.</p>
    <button id="logout-btn" class="logout-button" onclick="document.location.href='/logout'">Log Out</button>
</footer>
</body>

</html>